.aciklama{
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}
.yazi{
    font-weight: bold;
}
.baslik{
    font-size: 30px;
    font-weight: bold;
}
.link{
    text-align: center;
}